@use '../utils' as *;
@use '../shared' as *;

.footer {
  height: 87.8rem;
  padding: $spacing-desktop-2;
  background: $color-surface-accent;
  color: $color-text-invert;
  overflow: hidden;

  @include media('<phone') {
    height: 100dvh;
    padding: $spacing-mobile-2;
  }
}

.footer__wrapper {
  inline-size: 100%;
  block-size: 100% ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: $spacing-desktop-4;

  @include media('<phone') {
    gap: $spacing-mobile-4;
  }
}

.footer__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media('<phone') {
    align-items: flex-end;
    gap: $spacing-mobile-0;
    height: 50%;
  }
}

.footer__info__contact {
  display: flex;
  inline-size: 46.2rem;
  justify-content: space-between;
  align-items: flex-start;

  @include media('<phone') {
    flex-direction: column-reverse;
    gap: $spacing-mobile-2;
    justify-content: flex-end;
  }
}

.contact__inner {
  display: flex;
  width: 17.9rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.4rem;
  flex-shrink: 0;

  @include media('<phone') {
    gap: $spacing-mobile-2;
  }
}

.contact__info {
  display: flex;
  width: 15.6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  @include media('<phone') {
    font-size: 1.6rem;
    gap: $spacing-mobile-0;
  }
}

.contact__info__phone {
  color: $color-text-invert;
}

.contact__info__mail {
  color: $color-text-invert;
}

.contact__button__cta {
  @extend %button-inverted;
}

.contact__button__lang {
  @extend %button-ghost;
}

.footer__info__right {
  display: flex;
  align-items: flex-start;
  gap: $spacing-desktop-2;

  @include media('<phone') {
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
  }
}

.sitemap {
  display: flex;
  inline-size: 35.3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-desktop-2;

  @include media('<phone') {
    gap: $spacing-mobile-2;
    inline-size: 100%;
  }
}

.sitemap__item {

}

.sitemap__item__link {
  color: $color-text-invert;
}

.addresses {
  display: flex;
  inline-size: 47.6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-desktop-2;

  @include media('<phone') {
    gap: $spacing-mobile-2;
    inline-size: 100%;
  }
}

.addresses__montreal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  inline-size: 100%;

  @include media('<phone') {
    flex-direction: column;
    gap: $spacing-mobile-0;
  }
}

.montreal__title {
  width: 10.4rem;

  @include media('<phone') {
    font-weight: 600;
  }
}

.montreal__address {
  color: $color-text-invert;
  width: 22.9rem;
}

.addresses__quebec {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  inline-size: 100%;

  @include media('<phone') {
    flex-direction: column;
    gap: $spacing-mobile-0;
  }
}

.quebec__title {
  width: 10.4rem;

  @include media('<phone') {
    font-weight: 600;
  }
}

.quebec__address {
  color: $color-text-invert;
  width: 22.9rem;
}

.footer__copyRight {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media('<phone') {
    font-size: 1.6rem;
    flex-direction: column;
    align-items: start;
    gap: $spacing-mobile-0;
  }
}

.footer__copyRight__logo_wrapper {
  display: flex;
  inline-size: 46.2rem;
  align-items: center;

  @include media('<phone') {
    inline-size: 14.573rem;
  }
}

.millerKnollLogo {
  flex-shrink: 0;
}

.footer__copyRight__right {
  display: flex;
  width: 84.9rem;
  justify-content: space-between;
  align-items: center;

  @include media('<phone') {
    inline-size: 100%;
    flex-direction: column;
    align-items: start;
    gap: $spacing-mobile-0;
  }
}

.copyRight__text {
  color: $color-text-invert;
  width: 35.3rem;
  flex-shrink: 0;
}

.copyRight__socials {
  display: flex;
  width: 22.9rem;
  align-items: flex-start;
  gap: $spacing-desktop-1;
  flex-shrink: 0;

  @include media('<phone') {
    gap: $spacing-mobile-1;
  }
}

.copyRight__socials__link {
  flex-shrink: 0;
}

.linkedin {
  @include media('<phone') {
    inline-size: 2.925rem;
  }
}

.twitter {
  @include media('<phone') {
    inline-size: 2.925rem;
  }
}

.instagram {
  @include media('<phone') {
    inline-size: 2.925rem;
  }
}

.footer__divider {
  width: 100%;
  height: 0.1rem;
  background: $color-border-invert;
}

.footer__bigtext {
  @extend %bigger-text;

  width: 729.4rem;
  height: 14.1rem;
  margin-left: -1.2rem;
}
