@use '../utils' as *;
@use '../shared' as *;

.header {
  /* @include cover; */
  @include grid;

  position: fixed;
  inline-size: 100%;
  padding: $spacing-desktop-2;
  justify-content: space-between;
  /*pointer-events: none;*/
  z-index: z('header');

  @include media('<phone') {
    padding: $spacing-mobile-2;
  }
}

.header__nav {
  @include center;

  justify-content: left;
  grid-column: 5 / span 3;

  @include media('<phone') {
    display: none;
  }
}

.header__nav__logoLink {
  grid-column: 1 / span 2;
}

.header__logo {
  inline-size: 12rem;
  block-size: auto;

  @include media('<phone') {
    inline-size: 9rem;
    block-size: auto;
  }
}

.header__navList {
  @include center;

  justify-content: left;
  gap: 2rem;
}

.header__navList__item {

}

.navList__item__link {
  @extend %small-text;
}

.header__actions {
  @include center;

  grid-column: 13 / 9;
  justify-content: end;
  gap: $spacing-mobile-2;
}

.actions__langList {
  @include center;

  gap: 0.5rem;
}

.actions__langList__item {
  @extend %small-text;
}

.actions__langList__item span {

}

.actions__langList__item__div {
  @extend %small-text;
}

.actions__cta {
  display: block;

  @include media('<phone') {
    display: none;
  }
}

.actions__menu {
  display: none;

  @include media('<phone') {
    display: block;
  }
}

.actions__cta__text {

}

.actions__cta__svg {

}
