@use '../utils' as *;
@use '../shared' as *;

.contact {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  padding: $spacing-desktop-2;
  overflow: hidden;

  @include media('<phone') {
    padding: $spacing-mobile-2;
  }
}

.background__video {
  @include cover;

  object-fit: cover;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
}

.contact__wrapper {
  position: relative;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact__subtitle {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-desktop-2;

  @include media('<phone') {
    gap: $spacing-mobile-2;
  }
}

.contact__subtitle__text {
  @extend %heading-5;

  color: $color-text-invert;
}

.contact__subtitle__divider {
  inline-size: 100%;
  block-size: 1px;
  background: $color-border-invert;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-desktop-2;
  inline-size: 100%;

  @include media('<phone') {
    gap: $spacing-mobile-2;
  }
}

.contact__content__title {
  @extend %big-title;

  color: $color-text-invert;
  margin-left: -1.2rem;

  @include media('<phone') {
    font-size: 5rem;
    margin-left: -0.6rem;
  }
}

.contact__content__cta {
  @extend %button-inverted--big;
}

