@use '../utils' as *;
@use 'typography';

%button-base {
  @extend %small-text;
  @extend %center;

  cursor: pointer;
  line-height: 1;
  padding: 1rem 1.3rem;
  gap: 1rem;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  background: $color-surface-primary;
  color: $color-text-primary;
  transition: background $animation-primary, color $animation-primary, border-color $animation-primary, transform 150ms $ease-out-expo;

  svg path {
    transition: fill $animation-primary, transform 150ms $ease-out-expo;
  }

  &:hover {
    background: $color-surface-accent;
    color: $color-text-invert;
    border-color: $color-surface-accent;

    svg path {
      fill: $color-text-invert;
    }
  }

  &:active {
    transform: translateY(1px);
  }
}
