@use '../utils' as *;

// HEADINGS
%bigger-text {
  font-family: $font-antipol;
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 18rem */
  text-transform: uppercase;
}

%big-title {
  font-family: $font-antipol;
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 10.8rem */
  text-transform: uppercase;
}

%heading-2 {
  font-family: $font-montreal;
  font-size: 8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 7.2rem */
}

%heading-3 {
  font-family: $font-montreal;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 7.2rem */
}

%heading-4 {
  font-family: $font-montreal;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 5rem */
}

%heading-5 {
  font-family: $font-montreal;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 3.2rem */
}

// BODY

%body-text {
  font-family: $font-montreal;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 2.3rem */
}

%small-text {
  font-family: $font-montreal;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 1.38rem */
  letter-spacing: 0.084rem;
  text-transform: uppercase;
}

// LINKS

// ------------------------------------
// Usage
// ------------------------------------
//
// .article a {
//   @include links($color-text-primary, $color-outrageous-orange);
// }
//

%links {
  color: $color-text-primary;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
  transition: color 200ms $animation-primary, text-decoration-color 200ms $animation-primary;
}

@mixin links($color, $hover) {
  color: $color;
  text-decoration-color: $color;

  &:hover,
  &:focus-visible {
    color: $hover;
    text-decoration: $hover;
  }
}
