.contact
  video.background__video(autoplay muted loop playsinline src='video/MeetCosm.mp4' type='video/mp4')
  .contact__wrapper
    .contact__subtitle
      h3.contact__subtitle__text Contact us
      .contact__subtitle__divider
    .contact__content
      h2.contact__content__title Excited? <br> Let’s start a new project.
      button.contact__content__cta Let’s chat
