.contact
  .contact__wrapper
    .contact__subtitle
      h3.contact__subtitle__text Contact us
      .contact__subtitle__divider(style='height: 1px; background-color: black;')
    .contact__inner
      h2.contact__inner__title
        | Excited?
        | Let’s start a new project.
      button.contact__inner__cta.button Let’s chat
