.footer
  .footer__wrapper
    .footer__info
      .footer__info__contact
        .contact__inner
          .contact__info
            a.contact__info__phone(data-animation='paragraph' href='#')
              span +1 (418) 931 - 8383
            a.contact__info__mail(data-animation='paragraph' href='mailto:info@mobel.com')
              span info@mobel.com
          button.contact__button__cta.button Start new Project
        button.contact__button__lang.button FRANÇAIS
      .footer__info__right
        ul.sitemap
          li.sitemap__item
            a.sitemap__item__link(data-animation='paragraph' href='#')
              span Terms & Conditions
          li.sitemap__item
            a.sitemap__item__link(data-animation='paragraph' href='#')
              span Privacy policy
          li.sitemap__item
            a.sitemap__item__link(data-animation='paragraph' href='#')
              span Help & FAQ
          li.sitemap__item
            a.sitemap__item__link(data-animation='paragraph' href='#')
              span Careers
        ul.addresses
          li.addresses__montreal
            p.montreal__title Montreal
            a.montreal__address(data-animation='paragraph' href='#')
              span 1301 Rue Mazurette # A, Montreal, Quebec H4N 1L7, Canadá
          li.addresses__quebec
            p.quebec__title Quebec
            a.quebec__address(data-animation='paragraph' href='#')
              span 989 Bd Pierre-Bertrand #100, Québec, QC G1M 1B1, Canadá
    .footer__copyRight
      svg.millerKnollLogo(width="192" height="20" viewBox="0 0 192 20" fill="none")
        g(clip-path="url(#clip0_2_2518)")
          path(d="M74.6869 0.379395H70.8078L62.9193 9.6842L71.0223 19.5037H74.9227V19.5003L66.7658 9.6761L74.6869 0.379395Z" fill="#FCFAF8")
          path(d="M22.6244 0.115723C21.6271 0.115723 20.8151 0.952044 20.8151 1.97923C20.8151 3.00641 21.6271 3.84273 22.6244 3.84273C23.6217 3.84273 24.4337 3.00641 24.4337 1.97923C24.4337 0.952044 23.6228 0.115723 22.6244 0.115723Z" fill="#FCFAF8")
          path(d="M24.1271 5.15674H21.1228V19.5038H24.1271V5.15674Z" fill="#FCFAF8")
          path(d="M29.4156 0.379395H26.4114V19.5037H29.4156V0.379395Z" fill="#FCFAF8")
          path(d="M34.7042 0.379395H31.7V19.5037H34.7042V0.379395Z" fill="#FCFAF8")
          path(d="M39.1954 10.9777C39.3661 9.1454 40.5947 7.27843 43.0094 7.27843C45.141 7.27843 46.4707 8.62256 46.6919 10.9777H39.1954ZM43.0094 4.7417C38.9842 4.7417 36.1732 7.85564 36.1732 12.3137C36.1732 16.7718 39.037 19.8857 43.1374 19.8857C46.8918 19.8857 48.8595 17.5896 49.448 15.4404L49.5434 15.0933H46.3258L46.2798 15.3073C46.1158 16.0662 45.2701 17.349 43.1374 17.349C40.7744 17.349 39.3818 15.4242 39.1954 13.5167H49.7153V12.9777C49.7153 11.7053 49.5636 10.5532 49.2649 9.55142C48.3103 6.44904 46.0888 4.7417 43.0094 4.7417Z" fill="#FCFAF8")
          path(d="M54.1885 6.76685V5.15668H51.1842V19.5037H54.1885V11.0028C54.1885 8.86518 55.0712 7.82643 56.8861 7.82643H58.491V4.89062H57.5296C56.0168 4.89062 54.8668 5.72695 54.1885 6.76685Z" fill="#FCFAF8")
          path(d="M99.7259 12.3125C99.7259 15.6983 97.6718 17.2148 95.6367 17.2148C93.6017 17.2148 91.5476 15.6995 91.5476 12.3125C91.5476 8.92678 93.6017 7.41029 95.6367 7.41029C97.6718 7.41145 99.7259 8.92678 99.7259 12.3125ZM95.6367 4.7417C91.46 4.7417 88.5434 7.85564 88.5434 12.3137C88.5434 16.7718 91.46 19.8857 95.6367 19.8857C99.8135 19.8857 102.73 16.7718 102.73 12.3137C102.73 7.85448 99.8135 4.7417 95.6367 4.7417Z" fill="#FCFAF8")
          path(d="M107.018 0.379395H104.014V19.5037H107.018V0.379395Z" fill="#FCFAF8")
          path(d="M112.308 0.379395H109.303V19.5037H112.308V0.379395Z" fill="#FCFAF8")
          path(d="M77.9831 19.5039V11.401C77.9831 8.98685 79.3454 7.42756 81.4534 7.42756C83.3907 7.42756 84.2544 8.40732 84.2544 10.604V19.5028H87.2586V10.3391C87.2586 6.74046 85.4257 4.75781 82.0981 4.75781C80.4078 4.75781 78.9501 5.37435 77.9831 6.47325V5.15689H74.9789V19.5004V19.5039H77.9831Z" fill="#FCFAF8")
          path(d="M14.9931 0.376953L9.48438 13.2098L3.95098 0.376953H0V19.5059H2.99862V10.8709C2.99862 9.03976 2.99862 7.29078 2.86609 5.35093H2.99862C3.60845 7.29078 4.13966 8.52039 4.96175 10.1884L9.41925 19.6979L13.8767 10.1884C14.6988 8.52155 15.1773 7.29193 15.8668 5.35093H15.9994C15.814 7.29078 15.814 9.03976 15.814 10.8709V19.5059H18.8385V0.376953H14.9931Z" fill="#FCFAF8")
          path(d="M62.9193 0.379395H59.8185V19.5037H62.9193V0.379395Z" fill="#FCFAF8")
        path(d="M190.382 8.66033V2.84033H191.682V17.1403H190.382V15.4803H190.342C189.762 16.4803 188.682 17.4003 186.902 17.4003C184.422 17.4003 182.422 15.4003 182.422 12.0403C182.422 8.70033 184.422 6.70033 186.902 6.70033C188.682 6.70033 189.742 7.58033 190.342 8.66033H190.382ZM187.062 16.2603C189.022 16.2603 190.382 14.6203 190.382 12.0403C190.382 9.48033 189.022 7.84033 187.062 7.84033C184.942 7.84033 183.782 9.76033 183.782 12.0403C183.782 14.3403 184.942 16.2603 187.062 16.2603Z" fill="#FCFAF8")
        path(d="M181.139 11.5802C181.139 11.8602 181.139 12.1402 181.119 12.3002H173.039C173.059 14.3602 174.159 16.3002 176.559 16.3002C178.659 16.3002 179.479 14.8602 179.679 14.0202H180.999C180.499 15.8802 179.099 17.4202 176.539 17.4202C173.419 17.4202 171.679 15.1402 171.679 12.0402C171.679 8.78018 173.599 6.68018 176.539 6.68018C179.479 6.68018 181.139 8.74018 181.139 11.5802ZM173.039 11.1602H179.759C179.759 9.34018 178.579 7.80018 176.479 7.80018C174.499 7.80018 173.139 9.26018 173.039 11.1602Z" fill="#FCFAF8")
        path(d="M163.816 6.94021V5.44021C163.816 3.22021 164.696 2.72021 166.156 2.72021C166.436 2.72021 166.676 2.74021 167.136 2.80021V3.90021C166.776 3.88021 166.616 3.86021 166.336 3.86021C165.356 3.86021 165.116 4.16021 165.116 5.42021V6.94021H167.136V8.08021H165.116V17.1402H163.816V8.08021H162.376V6.94021H163.816ZM168.336 4.90021V3.22021H170.016V4.90021H168.336ZM169.816 17.1402H168.516V6.94021H169.816V17.1402Z" fill="#FCFAF8")
        path(d="M160.985 4.90022H159.305V3.22021H160.985V4.90022ZM160.805 17.1402H159.505V6.94022H160.805V17.1402Z" fill="#FCFAF8")
        path(d="M157.819 6.94004V8.08004H155.759V14.52C155.759 15.78 156.039 16.08 157.039 16.08C157.359 16.08 157.519 16.06 157.819 16.04V17.14C157.419 17.2 157.179 17.22 156.859 17.22C155.379 17.22 154.459 16.72 154.459 14.5V8.08004H152.959V6.94004H154.459V3.54004H155.759V6.94004H157.819Z" fill="#FCFAF8")
        path(d="M151.635 6.7002C151.995 6.7002 152.275 6.7202 152.515 6.76019V8.0402C152.315 8.0002 152.095 7.9802 151.895 7.9802C150.055 7.9802 148.695 9.4602 148.695 11.4402V17.1402H147.395V6.9402H148.695V9.0202H148.735C149.255 7.68019 150.195 6.7002 151.635 6.7002Z" fill="#FCFAF8")
        path(d="M145.573 11.5802C145.573 11.8602 145.573 12.1402 145.553 12.3002H137.473C137.493 14.3602 138.593 16.3002 140.993 16.3002C143.093 16.3002 143.913 14.8602 144.113 14.0202H145.433C144.933 15.8802 143.533 17.4202 140.973 17.4202C137.853 17.4202 136.113 15.1402 136.113 12.0402C136.113 8.78018 138.033 6.68018 140.973 6.68018C143.913 6.68018 145.573 8.74018 145.573 11.5802ZM137.473 11.1602H144.193C144.193 9.34018 143.013 7.80018 140.913 7.80018C138.933 7.80018 137.573 9.26018 137.473 11.1602Z" fill="#FCFAF8")
        path(d="M128.868 17.4001C124.988 17.4001 122.308 14.3401 122.308 10.0001C122.308 5.68008 124.968 2.58008 128.888 2.58008C132.228 2.58008 134.408 4.72008 134.768 7.40008H133.248C132.968 5.80008 131.788 3.86008 128.868 3.86008C125.408 3.86008 123.828 6.80008 123.828 10.0001C123.828 13.2001 125.428 16.1201 128.868 16.1201C131.888 16.1201 133.148 14.0401 133.308 12.0601H134.828C134.488 15.1801 132.268 17.4001 128.868 17.4001Z" fill="#FCFAF8")
      a.copyRight__text(data-animation='paragraph' href='#')
        span 2025 © Möbel - All Rights Reserved
      .copyRight__socials
        a.copyRight__socials__link(href='#')
          svg.linkedin(width="39" height="39" viewBox="0 0 39 39" fill="none")
            path(d="M19.5 0C30.2696 0 39 8.73045 39 19.5C39 30.2696 30.2696 39 19.5 39C8.73045 39 0 30.2696 0 19.5C0 8.73045 8.73045 0 19.5 0ZM9.36133 29.4287H13.7803V16.1504H9.36133V29.4287ZM24.6299 15.8389C22.2836 15.8389 21.233 17.1282 20.6465 18.0322V16.1514H16.2266C16.2847 17.3975 16.2267 29.4055 16.2266 29.4287H20.6465V22.0137C20.6465 21.6168 20.6751 21.2206 20.792 20.9365C21.1114 20.1438 21.8388 19.3232 23.0596 19.3232C24.659 19.3235 25.2988 20.5411 25.2988 22.3252V29.4287H29.7178V21.8154C29.7178 17.7373 27.5376 15.8391 24.6299 15.8389ZM11.5996 9.75C10.0883 9.75021 9.09985 10.7415 9.09961 12.043C9.09961 13.3179 10.0594 14.3389 11.543 14.3389H11.5713C13.112 14.3387 14.0713 13.3178 14.0713 12.043C14.0424 10.7413 13.1112 9.75 11.5996 9.75Z" fill="#ECE6DA")
        a.copyRight__socials__link(href='#')
          svg.twitter(width="38" height="38" viewBox="0 0 38 38" fill="none")
            path(d="M19 0C29.4934 8.24649e-06 38 8.5066 38 19C38 29.4934 29.4934 38 19 38C8.5066 38 8.24703e-06 29.4934 0 19C0 8.5066 8.5066 0 19 0ZM23.3486 11.5254C22.6709 11.3376 21.6338 11.3644 21.0225 11.5791C19.3612 12.1829 18.3111 13.7394 18.4307 15.4434L18.4707 16.1006L17.8066 16.0205C15.3879 15.7119 13.2746 14.6649 11.4805 12.9072L10.6025 12.0352L10.377 12.6797C9.89868 14.1152 10.2046 15.6308 11.2012 16.6504C11.7328 17.2139 11.6132 17.2944 10.6963 16.959C10.3779 16.8518 10.0987 16.7717 10.0713 16.8115C9.97828 16.9054 10.2973 18.1261 10.5498 18.6094C10.8953 19.2801 11.5994 19.938 12.3701 20.3271L13.0215 20.6357L12.251 20.6494C11.5068 20.6494 11.4799 20.6627 11.5596 20.9443C11.8254 21.8164 12.8755 22.742 14.0449 23.1445L14.8691 23.4268L14.1514 23.8555C13.0882 24.4726 11.8391 24.8218 10.5898 24.8486C9.9921 24.862 9.50052 24.9158 9.5 24.9561C9.5 25.0902 11.1208 25.8414 12.0645 26.1367C14.8952 27.0088 18.2581 26.6329 20.7832 25.1436C22.5772 24.0836 24.3717 21.9777 25.209 19.9385C25.6608 18.8517 26.1123 16.8658 26.1123 15.9131C26.1123 15.296 26.1524 15.2153 26.8965 14.4775C27.335 14.0482 27.7474 13.5786 27.8271 13.4443C27.96 13.1894 27.9464 13.1889 27.2686 13.417C26.139 13.8195 25.9799 13.7659 26.5381 13.1621C26.95 12.7327 27.4414 11.9546 27.4414 11.7266C27.4407 11.6868 27.242 11.7536 27.0166 11.874C26.7774 12.0082 26.2454 12.2093 25.8467 12.3301L25.1289 12.5586L24.4775 12.1162C24.1189 11.8748 23.6145 11.606 23.3486 11.5254Z" fill="#ECE6DA")
        a.copyRight__socials__link(href='#')
          svg.instagram(width="38" height="38" viewBox="0 0 38 38" fill="none")
            path(d="M19 0C29.4934 8.24649e-06 38 8.5066 38 19C38 29.4934 29.4934 38 19 38C8.5066 38 8.24703e-06 29.4934 0 19C0 8.5066 8.5066 0 19 0ZM18.999 8.86719C16.2493 8.86719 15.9035 8.87858 14.8232 8.92773C13.7445 8.97713 13.0076 9.14787 12.3633 9.39844C11.6968 9.65725 11.1316 10.004 10.5684 10.5674C10.0047 11.1306 9.65811 11.696 9.39844 12.3623C9.14727 13.0067 8.97631 13.7432 8.92773 14.8213C8.87939 15.9022 8.86719 16.2482 8.86719 19C8.86719 21.7521 8.87876 22.0968 8.92773 23.1777C8.97735 24.2562 9.14816 24.9925 9.39844 25.6367C9.65742 26.3031 10.0041 26.8685 10.5674 27.4316C11.1304 27.9953 11.6962 28.3427 12.3623 28.6016C13.007 28.8521 13.7438 29.0229 14.8223 29.0723C15.9029 29.1214 16.2484 29.1338 19 29.1338C21.7521 29.1338 22.0969 29.1215 23.1777 29.0723C24.2561 29.0229 24.9931 28.8521 25.6377 28.6016C26.304 28.3427 26.8686 27.9953 27.4316 27.4316C27.9951 26.8685 28.3419 26.3038 28.6016 25.6377C28.8507 24.9932 29.0216 24.2561 29.0723 23.1777C29.1208 22.0969 29.1338 21.752 29.1338 19C29.1338 16.2485 29.1208 15.9029 29.0723 14.8223C29.0216 13.7435 28.8507 13.0066 28.6016 12.3623C28.3419 11.6959 27.9953 11.1306 27.4316 10.5674C26.868 10.0038 26.3047 9.65703 25.6377 9.39844C24.9917 9.14785 24.2546 8.97713 23.1758 8.92773C22.0951 8.87856 21.7509 8.86719 18.999 8.86719Z" fill="#ECE6DA")
            path(d="M18.0923 10.6934C18.362 10.6929 18.6633 10.6934 19.0015 10.6934C21.7068 10.6934 22.0278 10.7024 23.0962 10.751C24.0839 10.7962 24.6199 10.9619 24.9771 11.1006C25.4499 11.2843 25.7876 11.5037 26.1421 11.8584C26.4966 12.2129 26.7159 12.5507 26.8999 13.0234C27.0386 13.3802 27.2045 13.9164 27.2495 14.9043C27.2981 15.9725 27.3081 16.2937 27.3081 18.998C27.3081 21.7023 27.2981 22.0236 27.2495 23.0918C27.2043 24.0796 27.0386 24.6159 26.8999 24.9727C26.7163 25.4454 26.4967 25.7823 26.1421 26.1367C25.7874 26.4914 25.4502 26.7109 24.9771 26.8945C24.6203 27.0338 24.0837 27.198 23.0962 27.2432C22.028 27.2917 21.7068 27.3027 19.0015 27.3027C16.2959 27.3027 15.9747 27.2917 14.9067 27.2432C13.919 27.1976 13.3823 27.0332 13.0249 26.8945C12.5522 26.7109 12.2144 26.4911 11.8599 26.1367C11.5052 25.7821 11.2852 25.4447 11.1011 24.9717C10.9624 24.6149 10.7974 24.0787 10.7524 23.0908C10.7039 22.0226 10.6938 21.7012 10.6938 18.9951C10.6938 16.2897 10.7039 15.9702 10.7524 14.9023C10.7976 13.9144 10.9624 13.3777 11.1011 13.0205C11.2847 12.5476 11.5052 12.2101 11.8599 11.8555C12.2145 11.5008 12.552 11.2808 13.0249 11.0967C13.3821 10.9574 13.9189 10.7925 14.9067 10.7471C15.8413 10.7049 16.2039 10.6925 18.0923 10.6904V10.6934ZM19.0005 13.7959C16.1269 13.7962 13.7975 16.1264 13.7974 19C13.7974 21.8739 16.1276 24.2031 19.0015 24.2031C21.8751 24.2029 24.2046 21.8737 24.2046 19C24.2044 16.1262 21.8743 13.7959 19.0005 13.7959ZM24.4106 12.375C23.7394 12.375 23.194 12.9194 23.1938 13.5908C23.1938 14.2622 23.7393 14.8066 24.4106 14.8066C25.0818 14.8064 25.6265 14.262 25.6265 13.5908C25.6263 12.9197 25.0817 12.3752 24.4106 12.375Z" fill="#ECE6DA")
            path(d="M19.0011 15.6221C20.8665 15.6221 22.3789 17.1343 22.3789 18.9999C22.3789 20.8653 20.8665 22.3777 19.0011 22.3777C17.1355 22.3777 15.6233 20.8653 15.6233 18.9999C15.6233 17.1343 17.1355 15.6221 19.0011 15.6221Z" fill="#ECE6DA")
    .footer__divider(style='height: 1px; background-color: black;')
    h2.footer__bigtext The MillerKnoll experience, brought to Quebec.
