meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title="Möbel — Workspaces that inspire, wherever you work"
meta(name="description" content="From iconic designs to tailored solutions, Möbel brings the best of MillerKnoll to businesses and homes across Quebec.")

link(rel="canonical" href="#")
link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96")
link(rel="icon" type="image/svg+xml" href="favicon.svg")
link(rel="shortcut icon" href="favicon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
meta(name="apple-mobile-web-app-title" content="MyWebSite")
link(rel="manifest" href="site.webmanifest")

meta(name="msapplication-TileColor" content="#da532c")
meta(name="theme-color" content="#000")

meta(property='og:locale' content='en_US')
meta(property="og:type" content="website")
meta(property="og:title" content="Möbel — Workspaces that inspire, wherever you work")
meta(property="og:description" content="From iconic designs to tailored solutions, Möbel brings the best of MillerKnoll to businesses and homes across Quebec.")
meta(property='og:url' content='#')
meta(property='og:site_name' content='Möbel — Workspaces that inspire, wherever you work')
meta(property="og:image" content='#')

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Möbel — Workspaces that inspire, wherever you work")
meta(name="twitter:description" content="From iconic designs to tailored solutions, Möbel brings the best of MillerKnoll to businesses and homes across Quebec.")
meta(name="twitter:image" content='#')
