@use 'variables' as *;

@mixin grid {
  display: grid;
  grid-template-columns: repeat($grid-cols, $grid-cols-size);
  gap: $grid-cols-gap;
  padding-inline: $spacing-desktop-2;
  padding-block: $spacing-desktop-2;
}

@mixin focus-ring($color: $color-outrageous-orange) {
  outline: 0.2rem solid $color;
  outline-offset: 0.2rem;
}

@mixin cover {
  position: absolute;
  inset: 0;
}

@mixin ratio($width, $height) {
  position: relative;
  overflow: hidden;
  font-size: 0;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: $height / $width * 100%;
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// RESPONSIVE MIXIN
@mixin spacing($level) {
  @media (max-width: 768px) {
    margin: $spacing-mobile-#{$level};
  }
  @media (min-width: 769px) {
    margin: $spacing-desktop-#{$level};
  }
}
