@use '../../shared' as *;
@use '../../utils' as *;

.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  inline-size: 100%;
  block-size: 100%;
}

.home__hero {
  @include grid;

  position: relative;
  inline-size: 100%;
  block-size: 100dvh;;
}

.home__hero__title {
  @extend %heading-2;

  text-align: center;
  grid-column: 3 / span 8;
  align-self: center;

  @include media('<phone') {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    grid-column: 1;
  }
}

.home__hero__gallery {
  @include cover;
  @include grid;
}

.hero__gallery__media {
  position: absolute;

  &--1 {
    inline-size: 18rem;
    block-size: 25rem;
    grid-column: 11;
    inset-block-start: 31.6%;

    @include media('<phone') {
      inline-size: 10rem;
      block-size: 12.5rem;
      inset-inline-end: 18.3%;
      inset-block-start: 23%;
    }
  }

  &--2 {
    inline-size: 23rem;
    block-size: 16.9rem;
    grid-column: 9;
    inset-block-end: 12.8%;

    @include media('<phone') {
      inline-size: 12.9375rem;
      block-size: 9.4918rem;
      inset-inline-end: 6%;
      inset-block-end: 19.5%;
    }
  }

  &--3   {
    inline-size: 18rem;
    block-size: 22.5rem;
    grid-column: 3;
    inset-block-end: 5.6%;

    @include media('<phone') {
      inline-size: 9rem;
      block-size: 11.25rem;
      inset-inline-start: 13.2%;
      inset-block-end: 15.6%;
    }
  }

  &--4 {
    inline-size: 15rem;
    block-size: 20rem;
    inset-block-start: 22.5%;
    inset-inline-start: 0;

    @include media('<phone') {
      inline-size: 8.4375rem;
      block-size: 11.25rem;
      inset-inline-start: 0%;
      inset-block-start: 21%;
    }
  }

  &--5 {
    inline-size: 17rem;
    block-size: 11.4rem;
    grid-column: 5;
    inset-block-start: 13.5%;

    @include media('<phone') {
      inline-size: 8.5463rem;
      block-size: 5.7rem;
      inset-inline-start: 40.3%;
      inset-block-start: 10.3%;
    }
  }

  &--6 {
    inline-size: 13rem;
    block-size: 16.7rem;
    grid-column: 8;
    inset-block-start: 15.5%;

    @include media('<phone') {
      inline-size: 7.3115rem;
      block-size: 9.3938rem;
      inset-inline-end: 3.6%;
    }
  }

  &--7 {
    inline-size: 15rem;
    block-size: 11.3rem;
    grid-column: 4;
    inset-block-start: 20.7%;

    @include media('<phone') {
      inline-size: 7.5rem;
      block-size: 5.6275rem;
      inset-inline-start: 24.6%;
      inset-block-start: 14.3%;
    }
  }

  &--8 {
    inline-size: 9rem;
    block-size: 9rem;
    inset-block-start: 9.7%;
    grid-column: 12;

    @include media('<phone') {
      inline-size: 5.5rem;
      block-size: 5.5rem;
      inset-inline-start: 36.5%;
      inset-block-start: 0%;
    }
  }

  &--9 {
    inline-size: 9rem;
    block-size: 9rem;
    grid-column: 2;
    inset-block-end: 38.3%;

    @include media('<phone') {
      grid-column: 1;
      inline-size: 6.75rem;
      block-size: 6.75rem;
      inset-inline-start: -5%;
      inset-block-end: 33%;
    }
  }

  &--10 {
    inline-size: 9rem;
    block-size: 8.5rem;
    grid-column: 5;
    inset-block-end: 25%;

    @include media('<phone') {
      inline-size: 6.75rem;
      block-size: 6.3405rem;
      inset-inline-start: 29.4%;
      inset-block-end: 27%;
    }
  }

  &--11 {
    inline-size: 8rem;
    block-size: 10.1rem;
    inset-block-end: 25%;
    inset-inline-end: -1.3rem;

    @include media('<phone') {
      inline-size: 6rem;
      block-size: 7.5694rem;
      inset-inline-end: 0%;
      inset-block-end: 29.2%;
    }
  }
}

.hero__gallery__media__img {
  inline-size:  100%;
  block-size:   100%;
  object-fit:   cover;
}

.home__hero__bottom, .home__brands__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  inset-block-end: $spacing-desktop-2;
  inset-inline: $spacing-desktop-2;

  @include media('<phone') {
    inset-block-end: $spacing-mobile-2;
    inset-inline: $spacing-mobile-2;
    align-items: center;
  }
}

.home__hero__bottom__logo, .home__brands__bottom__logo {
  width: 22.9rem;
  flex-shrink: 0;

  @include media('<phone') {
    width: 14.6rem;
    height: 1.7rem;
  }
}

.hero__bottom__subtext, .brands__bottom__subtext {
  text-align: center;
  width: 52.2rem;

  @include media('<phone') {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 180%;
    inline-size: 100%;
    font-size: 1.6rem;
  }
}

.hero__bottom__link, .brands__bottom__link {
  @include center;

  width: 22.9rem;
  justify-content: flex-end;
  gap: 1rem;

  @include media('<phone') {
    font-size: 1.6rem;
  }
}

.home__about {
  @include center;

  position: relative;
  flex-direction: column;
  background: $color-surface-accent;
  color: $color-text-invert;
  width: 100%;
  height: 100vh;
}

.home__about__title {
  @extend %big-title;

  text-align: center;
  width: 122.4rem;
}

.home__about__cta {
  @extend %button-inverted--big;

  position: absolute;
  bottom: 2.5rem;
}

.home__products {
  width: 100%;
  height: 100vh;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.home__products__header {
  width: 60.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.products__header__title {
  @extend %heading-2;

  margin-left: -0.5rem;
}

.products__header__link {
  @include center;

  justify-content: flex-start;
  gap: 1rem;
}

.home__products__slider {
  @include center;

  width: 72.6rem;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.products__slider__category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  border-radius: 0.5rem;
  padding: 1.6rem 1.7rem;
  background: $color-surface-secondary;
  width: 100%;

  &--1 {
    height: 44.1rem;
    background: #E3E7ED;

    .slider__category__info {
      z-index: 1;
    }
  }
  &--2 {
    height: 35.9rem;
  }
  &--3 {
    height: 41.6rem;
  }
  &--4 {
    height: 38.9rem;
  }
}

.slider__category__media {
  @include cover;

  &--1 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 44rem;
  }
}

.slider__category__media__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider__category__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category__info__title {

}

.category__info__description {
  color: #808080;
}

.home__brands {
  @include center;

  position: relative;
  width: 100%;
  height: 100vh;
  background: $color-surface-secondary;
  padding: 2.5rem 2rem;
}

.home__brands__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brands__content__title-left {
  @extend %heading-2;

  width: 35.3rem;
  flex-shrink: 0;
}

.brands__content__cards__collection {
  width: 47.8rem;
  height: 28.9rem;
  position: relative;
}

.content__card__media {
  @include cover;
  @include center;
}

.content__card__media__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__card__media__logo {
  position: absolute;
}

.brands__content__title-right {
  @extend %heading-2;

  width: 35.3rem;
  flex-shrink: 0;
  text-align: right;
}
