@use '../../shared' as *;

.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  width: 100%;
}

.home__hero {
  @extend %center;

  position: relative;
  width: 100%;
  height: 100vh;
}

.home__hero__title {
  @extend %heading-2;

  width: 97.3rem;
  text-align: center;
}

.home__hero__gallery {

}

.hero__gallery__media {
  position: absolute;

  &--1 {
    width: 18.2rem;
    height: 25rem;
    top: 30.4rem;
    right: 6.7rem;
  }

  &--2 {
    width: 23rem;
    height: 16.9rem;
    top: 69rem;
    left: 101.5rem;
  }

  &--3   {
    width: 18rem;
    height: 22.5rem;
    top: 70.3rem;
    left: 26.9rem;
  }

  &--4 {
    width: 15rem;
    height: 20rem;
    top: 22.9rem;
    left: 0;
  }

  &--5 {
    width: 17rem;
    height: 11.4rem;
    top: 13.5rem;
    left: 51.7rem
  }

  &--6 {
    width: 13rem;
    height: 16.7rem;
    top: 15.1rem;
    left: 89rem;
  }

  &--7 {
    width: 15rem;
    height: 11.3rem;
    top: 20.2rem;
    left: 39.3rem;
  }

  &--8 {
    width: 9rem;
    height: 9rem;
    top: 9rem;
    left: 138.8rem;
  }

  &--9 {
    width: 9rem;
    height: 9rem;
    top: 52.4rem;
    left: 14.4rem;
  }

  &--10 {
    width: 9rem;
    height: 8.5rem;
    top: 62rem;
    left: 51.7rem;
  }

  &--11 {
    width: 8rem;
    height: 10.1rem;
    top: 62rem;
    right: -2.3rem;
  }
}

.hero__gallery__media__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home__hero__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5rem 2rem;
}

.home__hero__bottom__logo {
  width: 22.9rem;
  flex-shrink: 0;
}

.millerKnollLogo {

}

.hero__bottom__subtext {
  text-align: center;
  width: 52.2rem;
}

.hero__bottom__link {
  @extend %links;
  @extend %center;

  width: 22.9rem;
  justify-content: flex-end;
  gap: 1rem;
}

.home__about {

}

.home__about__title {

}

.home__about__cta {

}

.home__products {

}

.home__products__header {

}

.products__header__title {

}

.products__header__link {

}

.bottom__link__svg {

}

.home__products__slider {

}

.products__slider__category {

}

.slider__category__media {

}

.slider__category__media__img {

}

.slider__category__info {

}

.category__info__title {

}

.category__info__description {

}

.home__brands {

}

.home__brands__content {

}

.brands__content__title-left {

}

.brands__content__media__cards {

}

.media__cards__img {

}

.media__cards__logo {

}

.brands__content__title-right {

}

.home__brands__bottom {

}

.millerKnollLogo {

}

.brands__bottom__subtext {

}

.brands__bottom__link {

}

.bottom__link__text {

}

.bottom__link__svg {

}
