@use '../../shared' as *;
@use '../../utils' as *;

.about {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.about__wrapper {
  inline-size: 100%;
  block-size: 100%;
}

.about__story {
  @include center;

  inline-size: 100%;
  block-size: 100vh;
  padding: $spacing-desktop-2;

  @include media('<phone') {
    padding: $spacing-mobile-2;
  }
}

.about__story__title {
  @extend %heading-4;

  width: 97.2rem;
  text-align: center;

  @include media('<phone') {
    inline-size: 100%;
    font-size: 3.2rem;
  }

}

.about__story__cta {
  @extend %body-text;

  letter-spacing: 0.2rem;
  position: absolute;
  bottom: $spacing-desktop-2;

  @include media('<phone') {
    bottom: $spacing-mobile-2;
  }
}

.about__certDist {
  @include center;

  background: $color-surface-secondary;
  inline-size: 100%;
  block-size: 100vh;
  padding: $spacing-desktop-2;
  align-items: flex-end;
  justify-content: space-between;

  @include media('<phone') {
    padding: $spacing-mobile-2;
    flex-direction: column;
    justify-content: flex-end;
    gap: $spacing-mobile-2;
  }
}

.about__certDist__content {
  inline-size: 60.2rem;
  display: flex;
  flex-direction: column;
  gap: 32.4rem;

  @include media('<phone') {
    gap: $spacing-mobile-2;
    inline-size: 100%;
  }
}

.certDist__content__text {
  @extend %heading-5;

  @include media('<phone') {
    font-size: 1.6rem;
    line-height: 115%;
  }
}

.certDist__content__title {
  @extend %heading-2;

  @include media('<phone') {
    font-size: 5rem;
    font-weight: 400;
    line-height: 100%; /* 5rem */
  }
}

.about__certDist__media {
  inline-size: 72.6rem;
  block-size: 48.4rem;
  position: relative;

  @include media('<phone') {
    inline-size: 100%;
    block-size: auto;
  }
}

.about__certDist__media__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
