//@use '../utils/responsive' as *;

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  background: $color-surface-primary;
  color: $color-text-primary;

  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('<phone') {
    font-size: calc(100vw / 393 * 10)
  }
}

body {
  @extend %cover;
  @extend %body-text;

  background: $color-surface-primary;
  position: fixed;
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible {
  @include focus-ring();
}

button,
.button {
  @extend %button-reset;
  @extend %button-base;
}

a {
  @extend %links;
}
