@use '../utils' as *;
@use '../shared/typography' as *;
@use '../shared/buttons' as *;

:root {
  --grid-cols: #{$grid-cols};
  --grid-cols-size: #{$grid-cols-size};
  --grid-cols-gap: #{$spacing-desktop-1};
  --grid-padding: #{$spacing-desktop-2};

  @include media('<phone') {
    --grid-cols: 1;
    --grid-cols-gap: #{$spacing-mobile-1};
    --grid-padding: #{$spacing-mobile-2};
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @include cover;

  background: $color-surface-primary;
  color: $color-text-primary;
  font-size: calc(100vw / 1512 * 10);
  line-height: 1;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('<phone') {
    font-size: calc(100vw / 393 * 10)
  }
}

body {
  @include cover;
  @extend %body-text;

  background: $color-surface-primary;
 /* position: fixed;*/
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible {
  @include focus-ring();
}

button, .button {
  @extend %button-base;
}

a {
  @extend %links;

  @include links($color-text-primary, $color-outrageous-orange);
}

.millerKnollLogo {
  width: 19.2rem;
  height: 2rem;

  @include media('<phone') {
    width: 100%;
    height: 100%;
  }
}
